{% extends 'gestion/base.html' %}

{% block title %}Ingresar al sistema{% endblock %}

{% block content %}
<div class="card mx-auto" style="max-width: 600px;">
  <div class="card-header bg-naranja text-white text-center">
  <h4 class="mb-0">🔐 Iniciar sesión</h4>
  <div style="height: 4px; background-color: #e86c33; margin-top: 4px;"></div>
</div>
  <div class="card-body">
    {% if request.GET.next %}
  <div class="alert alert-warning text-center mb-4">
    ⚠️ Debe estar registrado o iniciar sesión para acceder a este servicio.
  </div>
{% endif %}
    <form method="post">
      {% csrf_token %}

      {% if form.non_field_errors %}
        <div class="alert alert-danger">
          {% for error in form.non_field_errors %}
            <div>{{ error }}</div>
          {% endfor %}
        </div>
      {% endif %}

      {% for field in form %}
        <div class="mb-3">
          <label class="form-label">{{ field.label }}</label>
          {{ field }}
          {% if field.errors %}
            <div class="text-danger">{{ field.errors }}</div>
          {% endif %}
        </div>
      {% endfor %}

      <button type="submit" class="btn btn-caro">Ingresar</button>
    </form>
  </div>
</div>
{% endblock %}